.WeatherApp {
  font-family: "Comfortaa", cursive;

  border: 1px solid #999;

  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  padding: 16px;
  margin: 20px;
}

.WeatherApp ul {
  margin: 0;
  padding: 0;
}

.WeatherApp li {
  color: aliceblue;
  list-style: none;
}
.WeatherApp .row .main-info {
  background-color: rgb(238, 238, 238, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.WeatherApp .row .forecast {
  color: aliceblue;
  background-color: rgb(238, 238, 238, 0.3);
  border-radius: 5px;

  padding: 10px;
  margin: 10px 0 10px 10px;
}
.WeatherApp canvas {
  padding: 12px 0 0 20px;
}
.WeatherApp .row .main-icon {
  text-align: center;
}

.WeatherApp .col-6 {
  margin-left: -15px;
  padding-right: 0;
}

.WeatherApp .main-temp {
  font-size: 50px;
  color: aliceblue;
}
.WeatherApp .units {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: -28px;
  color: aliceblue;
}
.WeatherApp h3 {
  color: aliceblue;
  margin-bottom: 0;
}

.WeatherApp h5 {
  color: aliceblue;
  font-size: 15px;
  margin-top: -10px;
}
.WeatherApp h4 {
  color: aliceblue;
  font-size: 15px;
}
.WeatherApp .row .col-3 {
  margin-left: 0;
}
.WeatherApp .row .col-3 .current {
  margin-left: 0px;
  background-color: rgb(238, 238, 238, 0.3);
  border: none;
}
.WeatherApp .row .col-3 .search {
  padding: 6px 20px;
  margin-right: 5px;
  margin-left: -5px;
  background-color: rgb(238, 238, 238, 0.3);
  border: none;
}
.WeatherApp .row .col-9 .form-control {
  background-color: rgb(238, 238, 238, 0.3);
  border: none;
  color: aliceblue;
}
.WeatherApp ::placeholder {
  color: aliceblue;
  opacity: 1;
}
